{% extends 'base.html' %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info">
          {% for msg in messages %}
            <p>{{ msg }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{t["manage_users"]}}</h3>
      </div>
      <a href="{{ url_for('admin.create_user') }}" class="btn btn-primary mb-3">{{t["create_new_user"]}}</a>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{{t["username"]}}</th>
              <th>{{t["email"]}}</th>
              <th>{{t["role"]}}</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>
                <a href="{{ url_for('admin.edit_user', id=user.id) }}" class="btn btn-sm btn-warning">{{t["edit"]}}</a>
                <a href="{{ url_for('admin.delete_user', id=user.id) }}" class="btn btn-sm btn-danger">{{t["delete"]}}</a>
            </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
