{% extends 'base.html' %}
{% block content %}
<section class="content">
  <div class="container-fluid">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info">
          {% for msg in messages %}
            <p>{{ msg }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{ 'Edit' if disease else 'Add' }} Disease</h3>
      </div>
      <div class="card-body">
        <form method="POST">
          <div class="form-group">
            <label>Name</label>
            <input name="name" class="form-control" required value="{{ disease.name if disease else '' }}">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" required>{{ disease.description if disease else '' }}</textarea>
          </div>
          <div class="form-group">
          <label>Symptoms</label>
            <textarea name="symptoms" class="form-control" required>{{ disease.symptoms if disease else '' }}</textarea>
          </div>
          <div class="form-group">
            <label>Treatment</label>
            <textarea name="treatment" class="form-control" required>{{ disease.treatment if disease else '' }}</textarea>
          </div>

          <button type="submit" class="btn btn-success">{{ 'Update' if disease else 'Create' }}</button>
        </form>
      </div>
    </div>

  </div>
</section>
{% endblock %}
